/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .sortable-posts {
	width: 100%;

	.components-panel__body {
		background: #eee;
		margin-bottom: 10px;
	}

	.buttons {
		display: flex;
	}
}
.components-panel__row{
	min-height:0 !important;
}
.purdue-block-slider-editor{
	.vertical-slides-container,.vertical-slide{
		height:400px;
	}
	.purdue-slider-vertical .slider-bullets{
		left:-3rem;
	}
}