/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pu-cta-hero.pu-large-image {
  .hero {
    .hero-body {
      background:none;
      .background-image{
        transform:scale(0.85);
        transform-origin: center;
        transition: ease-out 0.4s;
      }
      &>.container{
        transform:translateY(500px);
        opacity:0;
        transition: ease-out 0.4s;
        @include touch{
          transform:none;
          padding: 0;
        }
        @include mobile{
          padding: 2.5rem $side-padding-mobile;
        }
      }
      .content {
        max-width: 50%;

        @include mobile {
          max-width: 100%;
        }

        @include tablet-only {
          padding-left: 4rem
        }

        .story-title {
          color: white !important;
        }

        p {
          font-size: 1.25rem;
          font-family: $acumin-pro;
          width: auto;
          color:$primary-background-gray;
          margin-bottom: 1em;

          @include mobile {
            margin-bottom: 1.5rem;
          }
          &+.purdue-blocks__button{
            margin-top:1rem;
          }
        }
        a{
          color:$boiler-gold;
          text-decoration: underline;
          &:hover{
            color:$boiler-gold;
            text-decoration: none;
          }
        }
        .read-more-button{
          padding:0.75rem 1.5rem;
          color:$black;
          font-family:$acumin-pro;
          font-size:1rem;
          font-weight: 400; 
          line-height:1.5;
          background: $boiler-gold !important;
          border: 2px solid $boiler-gold;
          margin-top:1rem;
          margin-right:2rem;
          display:inline-block;
          text-decoration:none;
          &:hover{
            background: $white !important;
            color:$aged-gold;
            border: 2px solid $white;
          }
          @include touch{
            margin-top:0;
          }
          &-icon{
            display:none;
          }
        }
      }
    }
  }
  &.animate{
    .hero {
      .hero-body {
        .background-image{
          transform:scale(1);
        }
        .container{
          transform:translateY(0);
          opacity:1;
          @include touch{
            transform:none;
          }
        }
      }
    }
  }
  &.pu-large-image--box{
    .hero{
      .hero-body{
        padding-top:6rem;
        padding-bottom: 6rem; 
        min-height:850px;
        display:flex;
        align-items:center;
        @include mobile{
          padding-top:0;
          padding-bottom: 0; 
          min-height:0;
        }
        .background-image:before{
          background: transparent linear-gradient(90deg, #0000009D 0%, #54545445 100%) 0% 0% no-repeat padding-box;
          @include mobile{
            background:none;
          }
        }
        .container{
          @include mobile{
            padding:0;
          }
        }
        .content{
          padding:2.25rem;
          background:$white;
          opacity:0.9;
          color:$black;
          max-width:50%;
          display: inline-flex;
          @include mobile{
            width:100%;
            max-width:100%;
          }
          .story-title{
            color:$black !important;
          }
          p{
            color:$black;
            &:last-child{
              margin-bottom:0;
            }
          }
          .read-more-button{
            border:2px solid $black;
            margin-top: 0.5rem;
            &:hover{
              background:$black !important;
              color:$boiler-gold;
            }
          }
        }
      }
    }
  }
}
.pu-lightbox-button{
  border: 2px solid $white;
  font-family:$acumin-pro;
  font-size:1rem;
  font-weight: 400; 
  text-decoration: none;
  display: inline-block;
  background:$black;
  cursor: pointer;
  padding:0.75rem 1.5rem;
  color:$white;
  line-height:1.5;
  &:hover{
    background:$white;
    color:$aged-gold;
  }
}
.pu-lightbox{
  display:none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.9);
  z-index:100000;
  overflow-y: scroll;
  &.modal-open{
    display:block;
  }
  padding:2.5rem $side-padding-desktop;
  @include touch{
    padding:2.5rem $side-padding-tablet;
  }
  @include mobile{
    padding:1.5rem 1.25rem;
  }
  .container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:100%;
    .video-container{
      width:100%;
      @include fullhd{
        max-width:1116px;
      }
      @include until-fullhd{
        max-width:1106px;
      }
      @include touch{
        max-width:100%;
      }
      .video{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        iframe, video{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .modal--close-button{
    color:$white;
    position: absolute;
    top:1.5rem;
    right:3.25rem;
    font-size:2.5rem;
    cursor: pointer;
    z-index:100001;
    @include touch{
      right:1.5rem;
    }
    @include mobile{
      font-size:1.8rem;
      top:1.25rem;
      right:1.25rem;
    }
  }
}