/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pu-cta-hero.pu-large-image {
  .hero {
    .hero-body {
      background:none;
      .background-image{
        transform:scale(0.85);
        transform-origin: center;
        transition: ease-out 0.4s;
      }
      &>.container{
        transform:translateY(500px);
        opacity:0;
        transition: ease-out 0.4s;
        @include touch{
          transform:none;
          padding: 0;
        }
        @include mobile{
          padding: 2.5rem $side-padding-mobile;
        }
      }
      .content {
        max-width: 50%;

        @include mobile {
          max-width: 100%;
        }

        @include tablet-only {
          padding-left: 4rem
        }

        .story-title {
          font-family: $united-sans;
          font-weight: 700;
          font-size: 2.5rem;
          color: white !important;
          margin-bottom: 2rem;
          line-height:1.2;

          @include touch {
            font-size: 2.1875rem;
          }
        }

        p {
          font-size: 1.25rem;
          font-family: $acumin-pro;
          width: auto;
          color:$primary-background-gray;
          margin-bottom: 1em;

          @include mobile {
            margin-bottom: 1.5rem;
          }
        }
        a{
          color:$boiler-gold;
          text-decoration: underline;
          &:hover{
            color:$boiler-gold;
            text-decoration: none;
          }
        }
        .read-more-button{
          margin-top:1.875rem;
          color:$white;
          font-family:$united-sans;
          font-size:1.125rem;
          font-weight: 700; 
          display:inline-flex;
          align-items: center;
          text-decoration:none;
          margin-right:1.5rem;
          &:hover{
            color:$white;
            .read-more-button-icon{
              box-shadow: inset 200px 0 0 0 $boiler-gold;
              color:$black;
            }
          }
          @include touch{
            margin-top:0;
          }
          &-icon{
            display:inline-block;
            margin-left:10px;
            border:solid 1px $boiler-gold;
            border-radius: 50%;
            width:3rem;
            height:3rem;
            position:relative;
            box-shadow: inset 0 0 0 0 $boiler-gold;
            transition: ease-out 0.4s;
            &:after{
              font-family: "Font Awesome 5 Free"; 
              content: "\f105";
              top:50%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
              font-size: 1.8rem;
              position: absolute;
            }
          }
        }
      }
    }
  }
&.animate{
  .hero {
    .hero-body {
      .background-image{
        transform:scale(1);
      }
      .container{
        transform:translateY(0);
        opacity:1;
        @include touch{
          transform:none;
        }
      }
    }
  }
}
}
.pu-lightbox-button{
  border:none;
  color:$boiler-gold;
  font-family:$united-sans;
  font-size:1.125rem;
  font-weight: 700; 
  text-decoration: underline;
  display: inline-block;
  background:none;
  cursor: pointer;
  padding: 0;
  &:hover{
    text-decoration: none;
  }
}
.pu-lightbox{
  display:none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.9);
  z-index:100000;
  overflow-y: scroll;
  &.modal-open{
    display:block;
  }
  padding:2.5rem $side-padding-desktop;
  @include touch{
    padding:2.5rem $side-padding-tablet;
  }
  @include mobile{
    padding:1.5rem 1.25rem;
  }
  .container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:100%;
    .video-container{
      width:100%;
      @include fullhd{
        max-width:1116px;
      }
      @include until-fullhd{
        max-width:1106px;
      }
      @include touch{
        max-width:100%;
      }
      .video{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .modal--close-button{
    color:$white;
    position: absolute;
    top:1.5rem;
    right:3.25rem;
    font-size:2.5rem;
    cursor: pointer;
    z-index:100001;
    @include touch{
      right:1.5rem;
    }
    @include mobile{
      font-size:1.8rem;
      top:1.25rem;
      right:1.25rem;
    }
  }
}