/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .pu-proofpoint {
   width:100%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   &.pu-proofpoint__has-lead{
    .container{
      padding:3.4rem 1rem 1.25rem;
      @include mobile{
       padding:1.25rem 1rem;
      }
    }
   }
   p{
     width:100%;
   }
   .container{
     padding:1.25rem 1rem;
     display:flex;
     flex-direction:column;
     flex: 0 1 auto;
     align-items:center;
     max-width:318px;
     width:100%;
     margin-left:0;
     margin-right:0;
   }
   &__height{
     height:100%;
   }
   &__white{
     background-color:$white;
     color:$black;
     box-shadow: $box-shadow;
     p.pu-proofpoint__source{
       color:$black;
     }
     p.pu-proofpoint__highlighted,p.pu-proofpoint__content{
      color:$black;
    }
   }
   &__black{
     background-color:$black;
     color:$white;
     p.pu-proofpoint__source{
      color:$white;
    }
    p.pu-proofpoint__highlighted,p.pu-proofpoint__content{
     color:$white;
   }
     .pu-proofpoint__button {
       font-family: $united-sans;
       font-weight: 700;
       font-size: 1rem;
       text-transform: uppercase;
       display: inline-flex;
       justify-content: center;
       padding: 0.75rem 1rem;
       background: rgba(0, 0, 0, 0);
       border: 2px solid $white;
       color: $white;
       text-decoration: none;
       transition: all ease 0.2s;
       min-width:15.625rem;
       letter-spacing: 0.9px;
       &:hover {
         cursor: pointer;
         color: $aged-gold;
       }
     }
   }
   &__no-shadow{
    box-shadow: none;
  }
   &__border{
     border-top:solid 5px $black;
     box-shadow: $box-shadow;
   }
   &__highlighted{
     font-size: 5rem !important;
     line-height:0.9 !important;
     margin-bottom:0.5rem !important;
     text-align:center;
     text-transform: uppercase;
     font-family: $united-sans;
     font-weight:400 !important;
     &-narrow{
       font-family: $united-sans-condensed;
     }
   }
   &__lead{
    font-size:1.5rem !important;
    line-height:1.3 !important;
    font-weight:700 !important;
    margin-bottom:0.675rem !important;
    font-family:$acumin-pro;
    text-align:center;
    position:absolute;
    top:14px;
    left:0;
    width:100%;
    @include mobile{
      position:relative;
      top:0;
      left:0;
    }
  }
   &__content{
     font-weight:700 !important;
     font-size:1.25rem !important;
     text-align:center;
     line-height:1.5 !important;
     white-space:pre-wrap;
     font-family: $acumin-pro;
     &-narrow{
       font-family: $united-sans-condensed;
       letter-spacing: 0.1em;
     }
     &:not(:last-child){
      margin-bottom:1rem !important;
     }
   }
   &__source{
     font-family: $acumin-pro;
     font-weight:400;
     font-size:0.875rem;
     text-align:center;
     line-height:1.4;
     font-style:italic;
     white-space:pre-wrap;
     margin-bottom:0 !important;
   }
   &__button {
     font-family: $acumin-pro;
     font-size: 1rem;
     display: inline-flex;
     justify-content: center;
     padding: 0.75rem 1rem;
     background: $black;
     border: 2px solid $black;
     color: $boiler-gold;
     text-decoration: none;
     transition: all ease 0.2s;
     width:80%;
     margin-top:1rem;
     &:hover {
       cursor: pointer;
       background: $white;
     }
     &-white{
       border: 2px solid $black;
       color: $black;
       background: $white;
       &:hover {
         cursor: pointer;
         background: $black;
         color: $boiler-gold;
       }
     }
   }
 }
 
 