/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .pu-proofpoint {
   width:100%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   p{
     width:100%;
   }
   .container{
     padding:2rem 1rem;
     display:flex;
     flex-direction:column;
     flex: 0 1 auto;
     align-items:center;
     max-width:318px;
     width:100%;
     margin-left:0;
     margin-right:0;
   }
   &__height{
     height:100%;
   }
   &__white{
     background-color:$white;
     color:$black;
     p.pu-proofpoint__source{
       color:$steel-gray
     }
     p.pu-proofpoint__highlighted,p.pu-proofpoint__content{
      color:$black;
    }
   }
   &__black{
     background-color:$black;
     color:$white;
     p.pu-proofpoint__source{
       color:$steam-gray;
     }
     p.pu-proofpoint__highlighted,p.pu-proofpoint__content{
       color:$boiler-gold;
     }
     .pu-proofpoint__button {
       font-family: $united-sans;
       font-weight: 700;
       font-size: 1.125rem;
       text-transform: uppercase;
       display: inline-flex;
       justify-content: center;
       padding: 0.75rem 1rem;
       background: rgba(0, 0, 0, 0);
       border: 2px solid $boiler-gold;
       color: $white;
       text-decoration: none;
       transition: all ease 0.2s;
       min-width:15.625rem;
       letter-spacing: 0.9px;
       &:hover {
         cursor: pointer;
         background: $boiler-gold;
         color: $black;
       }
     }
   }
   &__border{
     border-top:solid 5px $black;
     box-shadow: $box-shadow;
   }
   &__highlighted{
     font-size: 4.6875rem;
     line-height:1;
     margin-bottom:0.5rem !important;
     text-align:center;
     text-transform: uppercase;
     &-narrow{
       font-family: $united-sans-condensed;
     }
     &-wide{
       font-family: $united-sans-extended;
       font-weight:300;
     }
   }
   &__content{
     font-weight:700;
     font-size:1.25rem;
     text-align:center;
     line-height:1.4;
     margin-bottom:1rem !important;
     white-space:pre-wrap;
     &-narrow{
       font-family: $united-sans-condensed;
       letter-spacing: 0.1em;
       text-transform:uppercase !important;
     }
     &-wide{
       font-family: $united-sans;
     }
   }
   &__source{
     font-family: acumin-pro;
     font-weight:400;
     font-size:1.25rem;
     text-transform:capitalize;
     text-align:center;
     line-height:1.4;
     font-style:italic;
     white-space:pre-wrap;
   }
   &__button {
     font-family: $united-sans;
     font-weight: 700;
     font-size: 1.125rem;
     text-transform: uppercase;
     display: inline-flex;
     justify-content: center;
     padding: 0.75rem 1rem;
     background: $black;
     border: 2px solid $black;
     color: $boiler-gold;
     text-decoration: none;
     transition: all ease 0.2s;
     letter-spacing:0.9px;
     width:80%;
     &:hover {
       cursor: pointer;
       background: $white;
     }
     &-white{
       border: 2px solid $aged-gold;
       color: $black;
       background: $white;
       &:hover {
         cursor: pointer;
         background: $boiler-gold;
         color: $black;
       }
     }
   }
 }
 
 