/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 @import "../scss/bulma-utilities";

 .pu-proofpoint {
   width:100%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   p{
     width:100%;
   }
   .container{
     padding:2rem 1rem;
     display:flex;
     flex-direction:column;
     flex: 0 1 auto;
     align-items:center;
     max-width:318px;
     width:100%;
     margin-left:0;
     margin-right:0;
   }
   &__white{
     background-color:#fff;
     color:#000;
     .pu-proofpoint__source{
       color:#555960
     }
   }
   &__black{
     background-color:#000;
     color:#fff;
     .pu-proofpoint__source{
       color:#C4BFC0;
     }
     .pu-proofpoint__highlighted,.pu-proofpoint__content{
       color:#cfb991;
     }
     .pu-proofpoint__button {
       font-family: "United Sans";
       font-weight: 700;
       font-size: 1.125rem;
       text-transform: uppercase;
       display: inline-flex;
       justify-content: center;
       padding: 0.75rem 1rem;
       background: rgba(0, 0, 0, 0);
       border: 2px solid #cfb991;
       color: #fff;
       text-decoration: none;
       transition: all ease 0.2s;
       min-width:250px;
       letter-spacing: 0.9px;
       &:hover {
         cursor: pointer;
         background: #cfb991;
         color: #000;
       }
     }
   }
   &__border{
     border-top:solid 5px #000;
     box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
   }
   &__highlighted{
     font-size: 4.6875rem;
     line-height:4.6875rem;
     margin-bottom:0.5rem !important;
     text-align:center;
     text-transform: uppercase;
     &-narrow{
       font-family: "United Sans Condensed";
     }
     &-wide{
       font-family: "United Sans Extended";
       font-weight:300;
     }
   }
   &__content{
     font-weight:700;
     font-size:1.25rem;
     text-align:center;
     line-height:1.875rem;
     margin-bottom:1rem !important;
     &-narrow{
       font-family: "United Sans Condensed";
       letter-spacing: 0.1em;
       text-transform:uppercase !important;
     }
     &-wide{
       font-family: "United Sans";
     }
   }
   &__source{
     font-family: acumin-pro;
     font-weight:400;
     font-size:1.25rem;
     text-transform:capitalize;
     text-align:center;
     line-height:1.5625rem;
     font-style:italic;
   }
   &__button {
     font-family: "United Sans";
     font-weight: 700;
     font-size: 1.125rem;
     text-transform: uppercase;
     display: inline-flex;
     justify-content: center;
     padding: 0.75rem 1rem;
     background: #000;
     border: 2px solid #000;
     color: #cfb991;
     text-decoration: none;
     transition: all ease 0.2s;
     letter-spacing:0.9px;
     width:80%;
     &:hover {
       cursor: pointer;
       background: #fff;
     }
     &-white{
       border: 2px solid #8e6f3e;
       color: #000;
       background: #fff;
       &:hover {
         cursor: pointer;
         background: #cfb991;
         color: #000;
       }
     }
   }
 }
 
 