/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pu-feature-story {
  h2 {
    font-weight:600;
    font-size: 2rem !important;
    margin-bottom: 3.125rem !important;
    line-height:2.375rem !important;
    @include touch{
      font-size:1.875rem !important;
      margin-bottom:2.1875rem !important;
    }
  }
  &__narrow{
    padding:6rem $side-padding-desktop;
    background-color:$primary-background-gray;
    & + &{
      padding-top:0;
      margin-top:-2rem;
      @include touch {
        margin-top:0;
      }
    }
    @include touch {
      padding:2.5rem $side-padding-tablet;
    }
    @include mobile {
      padding:2rem $side-padding-mobile;
    }
  }
  &__container{

    display:flex;
    flex-direction:row;
    &-reversed{
      flex-direction:row-reverse;
    }
    @include touch {
      flex-direction:column;
    }
    .story-content{
      width:50%;
      background-color:$white;
      box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
      padding:3.5rem 4.5rem;
      @include touch {
        width:100%;
        padding:2.5rem 1.25rem;
      }
      p{
        line-height:1.875rem;
      }
    }
    .background-image{
      width:50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index:1;
      @include touch {
        height:28rem;
        width:100%;
      }
      @include mobile {
        height:14rem;
      }
    }
  }
  .hero {
    display: flex;
    position: relative;
    color:$black;
    font-size:1.125rem;
    font-family: $acumin-pro;
    @include touch {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .hero-body {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 2;
      padding: 10.375rem $side-padding-desktop !important;
      @include touch {
        order: 2;
        padding: 6rem $side-padding-tablet !important;
      }
      @include mobile {
        box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
        padding: 2.1875rem $side-padding-mobile 2.8125rem !important;
      }
      .content {
        width: auto;
        max-width: 50%;
        padding-right:6.375rem;
        &-reversed{
          padding-left:6.375rem !important;
          padding-right:0 !important;
          margin-right: 0;
          margin-left: auto;
          @include touch {
            padding-left:3rem !important;
          }
          @include mobile {
            max-width: 100%;
            padding-left:0 !important;
          }
        }
        @include touch {
          padding-right:3rem;
        }
        @include mobile {
          max-width: 100%;
          padding-right: 0;
        }
        p{
          line-height:1.875rem;
        }
      }
    }

    .hero-image {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 4;
      &-reversed{
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 4;
        @include mobile {
          position: relative;
          height: 20rem;
          width: 100%;
          flex-basis: auto;
          order: 1;
        }
      }
      @include mobile {
        position: relative;
        height: 20rem;
        width: 100%;
        flex-basis: auto;
        order: 1;
        height: 17rem;
      }
    }
    .shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 1;
      box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
      &-reversed{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 1;
        box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
        @include mobile {
          display:none;
        }
      }
      @include mobile {
        display:none;
      }
    }
    .background-image {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__button {
    font-family: $united-sans;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    padding: 0.75rem 1rem;
    background: $black;
    border: 2px solid $black;
    color: $boiler-gold;
    text-decoration: none;
    transition: all ease 0.2s;
    margin-top:2rem;
    letter-spacing:0.9px;
    min-width: 14.375rem;
    &:hover {
      cursor: pointer;
      background: $white;
    }
    @include touch{
      margin-top:1.375rem;
    }
  }
}

