/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.pu-blocks-editor-testimonial {

  padding: 0.875rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: $black;
  background: #f3f3f3;
  margin:0 !important;
  .error-message{
    font-size: 1.125rem;
    color:red;
  }
  .container{
    width:100%;
  }
  h2{
    font-size: 2.1875rem;
    font-weight:700;
    color:#000 !important;
    text-align:center;
    margin: 0 0 2.25rem !important;
    @media (max-width:1023px){
      font-size: 1.875rem;
    }
  }
  .testimonial__section{
    padding:3rem 0;
    @media (max-width:1023px){
      padding:3rem 1.5rem;
    }

  }
  .testimonial__list{
    margin:0!important;
    padding:0!important;
    list-style: none !important;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
  }
  .testimonial__item{
    padding:2.5rem;
    background-color:#fff;
    box-shadow: 0px 3px 6px #0000004D;
    border: 1px solid #DEDEDE;
    display:flex;
    justify-content: center;
    height: 100%;
  }
  .testimonial__body{
    width:100%;
    img{
      width:90px;
      height:90px;
    }
    .testimonial__content{
      margin-top:2rem;
      margin-bottom:2rem;
    }
    .testimonial__name{
      margin-top:0;
      margin-bottom:0.5rem;
      font-family:"Source Serif Pro";
      font-weight: 700;
    }
    .testimonial__info{
      margin-top:0;
      margin-bottom:0;
      font-family:"Source Serif Pro";
      font-weight: 400;
      color: #8E6F3E;
    }
    &--small{
      max-width: 432px;
      text-align:left;
    }
    &--big{
      max-width: 888px;
      text-align:center;
    }
  }

  .content {
    flex: 0 1 48%;

    span {
      display: flex;
      margin-bottom: 1rem;
    }
    .field {
      .control {
        textarea {
          background: white;
        }
      }
    }
  }

}
