/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-purdue-blocks-hero-carousel {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 36px;
  .flickity-button {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    height: 66px;
    width: 66px;
    &.flickity-prev-next-button.previous {
      left: calc(30% - 42px);
      &:before {
        content: '\f104';
        font-family: fontawesome;
        font-size: 25px;
        left: -2px;
        position: absolute;
        text-align: center;
        top: calc(50% + -12px);
        width: 100%;
      }
    }
    &.flickity-prev-next-button.next {
      right: calc(30% - 42px);
      &:before {
        content: '\f105';
        font-family: fontawesome;
        font-size: 25px;
        left: 2px;
        position: absolute;
        text-align: center;
        top: calc(50% + -12px);
        width: 100%;
      }
    }
    .flickity-button-icon {
      display: none;
    }
  }
  .item {
    height: 414px;
    max-width: 828px;
    width: 40% !important;
    margin-left: 12px;
    margin-right: 12px;
    .cardFigure {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      overflow: hidden;
      padding: 0 24px 50px 24px;
      width: 100%;
      .cardCategory {
        background-color: #CFB991;
        color: #000;
        font-family: 'acumin-pro-condensed', sans-serif;
        font-size: 18px;
        margin-bottom: 6px;
        padding: 6px 26px;
        width: fit-content;
      }
      .cardTitle {
        background-color: #FFFFFFBF;
        color: #000;
        font-family: 'United Sans', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 45px;
        padding: 13px;
        width: 80%;
      }
    }
  }
}
