/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.purdue-image-gallery{
  &.has-white-background{
    background:$white;
    color:$black;
  }
  &.has-black-background{
    background:$black;
    color:$white;
    a{
      color:$boiler-gold
    }
  }
  &.has-gray-background{
    background:$primary-background-gray;
    color:$black;
  }
  &.no-bottom-padding.section{
    padding-bottom:0 !important;
  }
  .columns{
    margin-top:1.75rem;
    .column{
      position:relative;
    }
    &.align-center{
      justify-content: center;
    }
  }
  .image-gallery-open{
    position: relative;
    overflow: hidden;
    &.image-no-caption{
      cursor:default;
    }
    &:hover{
      .image-modal-button {
        box-shadow: inset 0 0 0 5px $boiler-gold;
      }
    }
    .image {
      position: relative;
      background-position: center;
      background-size: cover;
      transition: all 0.3s ease-in-out;
      transform-origin: center;
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
      }
    }

  }
  .image-modal-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background: black;
    color: white;
    padding: 0.5rem 0.859375rem;
    font-size: 1.25rem;
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
    }
    svg {
      pointer-events: none;
    }
  }
  .image-modal-content{
    position:absolute;
    top:0;
    left:0;
    margin:0.75rem;
    background:$black;
    color:$white;
    padding:1rem;
    width: calc(100% - 24px);
    height:calc(100% - 24px);
    display:none;
    &:hover{
      .image-modal-button {
        box-shadow: inset 0 0 0 5px $boiler-gold;
      }
    }
    .image-modal-button {
      pointer-events: none;
    }
    &.modal-open{
      display:block;      
    }

  }
  .image-modal-close{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    p{
      font-size:0.875rem;
      margin-bottom:0;
      pointer-events: none;
      color:$white !important;
    }
  }
  h2{
    &.align-center{
      text-align:center;
    }
  }
  p.purdue-image-gallery__content{
    &.align-center{
      text-align:center;
    }
  }
  &.purdue-image-gallery--mixed{
    .pu-profile-gallery--modal{
      @include mobile{
        padding:5rem 1.5rem;
      }
      .modal--close-button{
        border: 2px solid $white;
        color: $white;
        top: 2rem;
        right: 2rem;
        @include mobile{
          right:1rem;
          top: 1.5rem;
        }
      }
    }
    figure.full-image{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      figcaption{
        color:$white;
        padding-top:1rem;
      }
    }
  }
}
