.pu-profile-gallery {
  position: static; 
.columns{
  @media (max-width: 767px) {
    display: flex;
  }
}
h2{
  margin-bottom:2.5rem !important;
  @include mobile{
    margin-bottom:2rem !important;
  }
  &.align-center{
    text-align:center;
  }
}
  .column {
    margin-bottom: 1rem;
  }
  .profile-gallery-open{
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    &.profile-no-bio{
      cursor:default;
    }
    &:hover{
      .modal-open-button {
        box-shadow: inset 0 0 0 5px $boiler-gold;
      }
    }
    .image {
      position: relative;
      background-position: center;
      background-size: cover;
      transition: all 0.3s ease-in-out;
      transform-origin: center;
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
      }
    }
    .modal-open-button {
      position: absolute;
      bottom: 0;
      right: 0;
      border: none;
      background: black;
      color: white;
      padding: 0.5rem 0.859375rem;
      font-size: 1.25rem;
      transition: all 0.1s ease;
      &:hover {
        cursor: pointer;
      }
      svg {
        pointer-events: none;
      }
    }
  }


  p.pu-profile-gallery--name {
    color: $aged-gold;
    font-family: $united-sans;
    font-size: 1.875rem;
    margin-bottom: 0.5rem !important;
line-height:1.2;
    &:hover {
      cursor: default;
    }
  }

  .pu-profile-gallery--title {
    font-size: 1.125rem;
    white-space: pre-wrap;
    
    &:hover {
      cursor: default;
    }
  }

  .pu-profile-gallery--title + .pu-profile-gallery--email {
    margin-top: -1.5rem;
  }

  .pu-profile-gallery--bio {
    font-size: 1.125rem;
    color: #555960;
    margin-bottom: 3rem !important;
    width:100%;
    @media (max-width: 1216px) {
      font-size: 1rem;
    }

    @media (max-width: 767px) {
      line-height:1.5625;
    }
  }

  &--modal {
    z-index: 9999999;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    padding: 5rem 0;
    overflow: auto;

    @media (max-width: 1024px) {
      padding: 5rem 1.5rem;
    }

    @media (max-width: 767px) {
      padding: 1.5rem;
    }

    &.modal-open {
      display: flex;
    }

    .container {
      height: auto;
      max-height:100%;
      .box {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        max-height:100%;
        padding: 7rem;
        overflow: hidden;
        margin-bottom: 5rem;

        @media (max-width: 1216px) {
          padding: 6.5rem 5.125rem;
        }

        @media (max-width: 767px) {
          padding: 5rem 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }

    .modal {
      &--content-container {
        flex: 0 1 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 1024px) {
          flex-basis: 100%;
        }
      }

      &--img-container {
        flex: 0 0 18.625rem;

        @media (max-width: 1216px) {
          flex-basis: 15rem;
        }

        @media (max-width: 1024px) {
          display: none;
        }

        .image {
          border: 10px solid $boiler-gold;
          margin: 0;
          padding-top: calc(100% - 20px);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          &:before {
            content: '';
            width: 2px;
            background: $boiler-gold;
            height: 9.25rem;
            position: absolute;
            bottom: calc(100% + 1.625rem);
            left: calc(50% - 1px);
          }

          &:after {
            content: '';
            width: 2px;
            background: $boiler-gold;
            height: 200%;
            position: absolute;
            top: calc(100% + 1.625rem);
            left: calc(50% - 1px);
          }
        }
      }

      &--close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.5rem 0.90625rem;
        border-radius: 100%;
        border: 1px solid black;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.2s ease;

        &:hover {
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          cursor: pointer;
        }
      }

      &--secondary-close-button {
        font-size: 1.125rem;
        color: $aged-gold;
        font-family: $united-sans;
        font-weight: 700;
        border: none;
        background: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.no-scroll-page {
  overflow: hidden;
}