/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .purdue-blocks__button{
     font-family: $acumin-pro;
     font-weight: 400;
     font-size: 1rem;
     text-align:center;
     display: inline-flex;
     justify-content: center;
     align-items:center;
     padding: 0.75rem 0.5rem;
     background: $black !important;
     border: 2px solid $black;
     color: $boiler-gold !important;
     text-decoration: none;
     transition: all ease 0.2s;
     width:auto;
     margin-bottom:0.5rem;
     position:relative;
     z-index:1;
     &:not(:last-child){
      margin-right:0.5rem;
    }
    &:hover {
      cursor: pointer;
      color:$white !important;
    }
    &__text{
      flex-shrink:1;
    }
    &--height{
      height:100%;
    }
    &.purdue-blocks__button--outline{
      background: none !important;
      border: 2px solid $black;
      color: $aged-gold !important;
      &:hover {
        cursor: pointer;
        color:$black !important;
     }
    }
    &.purdue-blocks__button--gold-light{
      background: $boiler-gold !important;
      border: 2px solid $black;
      color: $black !important;
      &:hover {
        cursor: pointer;
        background: $black !important;
        color:$boiler-gold !important;
      }
      &.purdue-blocks__button--outline{
        background: none !important;
        border: 2px solid $black;
        color: $black !important;
        &:hover {
          cursor: pointer;
          background: $black!important;
          color:$boiler-gold !important;
        }
      }
    }
    &.purdue-blocks__button--gold-dark{
      background: $boiler-gold !important;
      border: 2px solid $boiler-gold;
      color: $black !important;
      &:hover {
        cursor: pointer;
        background: $white!important;
        color:$aged-gold !important;
        border: 2px solid $white;
      } 
      &.purdue-blocks__button--outline{
        background: none !important;
        border: 2px solid $white;
        color: $white !important;
        &:hover {
          cursor: pointer;
          background: $white !important;
          color:$aged-gold !important;
        }
      }
    }
    &.purdue-blocks__button--opaque{
      background: $opaque !important;
      border: 2px solid $white;
      color: $white !important;
      &:hover {
        cursor: pointer;
        background: $black !important;
        color:$white !important;
     }
    }
    &.purdue-blocks__button--full{
      width:100%;
      margin-right:0;
    }
    &.purdue-blocks__button--full-mobile{
      @include mobile{
        width:100%;
        margin-right:0;
      }
    }
    &.purdue-blocks__button--narrow{
      font-family: $united-sans-condensed;
      font-weight: 700;
      font-size: 1.25rem;
      text-transform: capitalize;
      letter-spacing:0.001em;
    }
    &--fancy{
      font-family:$acumin-pro-semicondensed;
      font-size:1.25rem;
      font-weight:500;
      line-height:1.5;
      padding:2rem 0;
      display:inline-flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      min-width: 200px;
      text-transform: none;
      border:none;
      overflow: hidden;
      position:relative;
      &:after{
        content:"";
        width:0;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color: $boiler-gold !important;
        transition: ease-out 0.4s;
      }
      &:hover{
        &:after{
          width:100%;
        }
      }
      &-white{
        color:$black !important;
        background-color: $white !important;

        &:hover{
          color:$black !important;
          .purdue-blocks__button__icon{
            color: $black !important;
          }
        }
        .purdue-blocks__button__icon{
          background: white !important;
          color:$black !important;
        }
      }
      &-black{
        color:$white !important;
        background-color: $black !important;
        &:hover{
            color:$black !important;
            background-color:$black !important;
            .purdue-blocks__button__icon{
              color: white !important;
            }
        }
        .purdue-blocks__button__icon{
          background: black !important;
          color: white !important;
        }
      }
      .purdue-blocks__button__text{
        padding:0 6rem 0 1.3rem;
        width: 100%;
        text-align: left;
        z-index:1;
        font-weight:600;
        letter-spacing: 0;
      }
      .purdue-blocks__button__icon{
        width: 6rem;
        height: 100%;
        display: inline-flex;
        clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
        padding: 0 0.5rem 0 1.5rem;
        z-index:1;
        position: absolute;
        right: 0;
        align-items: center;
        justify-content: center;
      }
    }
 }
 .shrink-padding{
   width:1rem;
   flex-shrink:10;
 }
 
 