.purdue-blocks-editor-storyline{
  border:solid 1px $primary-background-gray;
  .image-buttons{
    position:absolute;
    top:1rem;
  }
  .remove-image-button{
    background:$white;
    margin-right:1rem;
    min-width: 150px;
    text-align: center;
    &:hover{
      background:$aged-gold;
    }
  }
  .read-more-button{
    cursor:pointer;
  }
  .column{
    width:50%;
  }
}
.purdue-blocks-storyline-tDark{
  .accordion-editor{
    background:$white;
  }
}