.purdue-blocks-editor-storyline{
  .image-buttons{
    position:absolute;
    bottom:1rem;
  }
  .remove-image-button{
    background:$white;
    margin-right:1rem;
    &:hover{
      background:$aged-gold;
    }
  }
}