.purdue-blocks-storyline{
  background:none;
  color:$black;
  padding: 4rem $side-padding-desktop;
  position:relative;
  &:after{
    content: '' !important;
    display: block;
    position: absolute;
    width: 1px;
    background: $boiler-gold;
    height: 100%;
    top: 0;
    left: calc(50% - 0.5px);
    transform:scaleY(0);
    transform-origin: top;
  }
  &.animate{
    &:after{
      transform:scaleY(1);
      transition: 0.4s ease-out;
    }
  }
  &.no-animate{
    &:after{
      transform:scaleY(1);
      transition: none;
    }
  }
  @include touch{
    padding: 4rem $side-padding-tablet;
  }
 @include mobile{
  padding: 0;
  &:after{
    content: none !important;
  }
 }
  &.purdue-blocks-storyline-top-space{
    padding-top:8rem;
    &:after{
      top: 4rem;
      height: calc(100% - 4rem);
    }
    @include mobile{
      padding: 0;
    }
    &.purdue-blocks-storyline-bottom-space{
      &:after{
        height: calc(100% - 8rem);
      }
    }
    
  }
  &.purdue-blocks-storyline-bottom-space{
    padding-bottom:8rem;
    &:after{
      height: calc(100% - 4rem);
    }
    @include mobile{
      padding: 0;
    }
  }
  &.purdue-blocks-storyline-top-line{
    @include mobile{
      padding-top:7.25rem;
      padding-bottom:0;
      &:after{
        content: "" !important;
        height: 4rem;
      }
    }
    &.purdue-blocks-storyline-top-space{
      @include mobile{
        padding-top:11.25rem;
        &:after{
          height: 4rem;
        }
      }
    }
    &.purdue-blocks-storyline-bottom-space{
      @include mobile{
        &:after{
          content: "" !important;
          height: 4rem;
        }
      }
      &.purdue-blocks-storyline-top-space{
        @include mobile{
          padding-top:11.25rem;

          &:after{
            height: 4rem;
          }
        }
      }
    }
  }
  .container{
    @include mobile{
      overflow: hidden;
    }
  }
  .columns-reversed{
    flex-direction: row-reverse;
    @include mobile{
      flex-direction: column;
    }
    .column{
      .image-container{
        padding:0 0 0 3.5vw;
        @include touch{
          padding:0 0 0 1rem;
        }
        @include mobile{
          padding-left:0;
        }
      }
      .content-container{
        padding:0 3.5vw 0 0;
        @include touch{
          padding:0 1rem 0 0;
        }
        @include mobile{
          padding:0.5rem $side-padding-mobile 1.25rem;
        }
      }
    }
  }
  .column{
    &.column-align-bottom{
      padding-top:215px;
      @include mobile{
        padding-top:0 !important;
      }
    }
    &.column-align-center{
      display:flex;
      flex-direction: row;
      align-items: center;
      @include mobile{
        padding-top:0;
      }
    }
  }
  .image-container{
    padding:0 3.5vw 0 0;
    img{
      width:100%;
      display:block;
    }
    @include touch{
      padding-right:1rem;
    }
    @include mobile{
      padding-right:0;
    }
  }
  .content-container{
    padding:0 0 0 3.5vw;
    width:100%;
    @include touch{
      padding-left:1rem;
    }
    @include mobile{
      padding:0.5rem $side-padding-mobile 1.25rem;
    }
    .story-title{
      color:$black !important;
      margin-bottom: 1.25rem;
    }
    p{
      color:$black;
      &:last-child{
        margin-bottom:0;
      }
      &+.purdue-blocks__button{
        margin-top:1rem;
      }
    }
    .read-more-button{
      padding:0.75rem 1.5rem;
      color:$black;
      font-family:$acumin-pro;
      font-size:1.125rem;
      font-weight: 400; 
      line-height:1.5;
      background: $boiler-gold !important;
      border: 2px solid $black;
      margin-top:1rem;
      display:inline-block;
      text-decoration:none;
      &:hover{
        background: $black !important;
        color:$boiler-gold;
      }
      &-icon{
        display:none;
      }
    }
  }
  &-gray{
    background-color:$primary-background-gray;
  }
  &-white{
    background:$white;
  }
  &-dark{
    background-color: $black;
    background-position: center;
    background-size: cover;
    position: relative;
    color:$white;
    .content-container{
      .story-title{
        color:$white !important;
      }
      p{
        color:$primary-background-gray;
      }
      .read-more-button{
        background: $boiler-gold !important;
        border: 2px solid $boiler-gold;
        color:$black;
        margin-top:1rem;
        display:inline-block;
        text-decoration:none;
        &:hover{
          background: $white !important;
          border: 2px solid $white;
          color:$aged-gold;
        }
      }
    }
  }
  &-tDark{
    background:none;
    position: relative;
    color:$white;
    .content-container{
      .story-title{
        color:$white !important;
      }
      p{
        color:$primary-background-gray;
      }
      .read-more-button{
        color:$black;
        background-color:$boiler-gold;
        border:2px solid $boiler-gold; 
        &:hover{
          background: $white !important;
          border: 2px solid $white;
          color:$aged-gold;
          .read-more-button-icon{
            color:$black;
          }
        }
        &-icon{
          border:solid 1px $boiler-gold;
          color:$white;
        }
      }
    }
    .accordion {
      cursor: pointer;
      background: #fff;
      color: black;
      p.accordion-title{
        color:$black;
      }
    }
    a{
      color:$boiler-gold;
      text-decoration: underline;
      &:hover{
        color:$boiler-gold;
        text-decoration: none;
      }
    }
  }
}