/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .purdue_newsletter {
   padding-bottom: 40px;
   p {
     color: #6F727B;
     font-size: 18px;
     font-weight: 300;
     line-height: 26px;
     padding-bottom: 21px;
   }
   .side-newsletter-input {
     border: 2px solid #EDEDED;
     border-radius: 5px 0 0 5px;
     font-size: 15px;
     padding: 16px 24px 14px 24px;
   }
   .side-newsletter-submit {
     background-color: #000;
     border: 2px solid #000;
     border-radius: 0px 5px 5px 0px;
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     padding: 15px 17px 14px 15px;
     text-transform: uppercase;
   }
 }
