/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.cta-button-admin{
  padding:0;
  .image{
    padding-top: 66.7%;
  }
  button{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
  }
}