/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.cta-card {
  &.card {
    width: 100%;
    max-width: 48rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    &:hover{
      cursor: pointer;
      .image img{
        transform: scale(1.1);
      }
      .cta-card__button{
          background:$black;
          color:$boiler-gold;
      }
    }
  }

  .card-image {
    height:auto;
    overflow: hidden;
    .image{
      padding-top: 66.6666%;
    }

    img{
      display:block;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  .card-content {
    background-color: $white;
    padding: 1rem 2rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 1.5rem;
      color: $black;
      font-family: $acumin-pro;
      line-height: 1.4;
      margin-bottom: 1rem !important;
      text-align:center;
      height:100%;
      display:flex;
      align-items:center;
    }

  }

  &__button {
    display: flex;
    justify-content: center;
    font-family: $acumin-pro;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: $black;
    border: 2px $black solid;
    transition: all ease 0.1s ;
    background: $boiler-gold;
    text-align:center;
    &:hover {
      background: $black;
      color: $boiler-gold;
    }
  }
}
