/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.cta-card {
  &.card {
    width: 100%;
    max-width: 19.875rem;
  }

  .card-image {
    max-height: 9.9375rem;
    overflow: hidden;
  }

  .card-content {
    background-color: $black;
    padding: 1.8rem 2rem 2rem;

    p {
      font-weight: 700;
      font-size: 1.8125rem;
      color: $boiler-gold;
      font-family: acumin-pro;
      line-height: 1.3;
      margin-bottom: 2rem !important;
    }

  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: $united-sans;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $boiler-gold;
    border: 2px $boiler-gold solid;
    transition: all ease 0.1s ;
    letter-spacing: 2px;

    &:hover {
      background: $boiler-gold;
      color: $black;
    }
  }
}
