/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.info-box-hero {


  .image {
    background-position: center;
    background-size: cover;

    .container {
      padding: 7rem 0;
      position: relative;
      display: flex;
      justify-content: center;
  
      &:after {
        content: '';
        border: 5px solid #DAA000;
        position: absolute;
        width: 100%;
        max-width: calc(75% - 6rem);
        height: auto;
        top: 4rem;
        bottom: 4rem;

        @include mobile{
          top: 3rem;
          bottom: 3rem;
          max-width: calc(100% - 5rem);
        }
      }

      @include mobile{
        padding: 4.5rem 1.25rem;
      }
    }

    @include mobile {
      background-image: none !important;
      background-color: #555960;
    }
  }

  &--content {
    position: relative;
    padding: 3rem 5rem;
    background: white;
    color: black;
    width: 100%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    p {
      text-align:center;
    }

    p.title,h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
      font-family: "United Sans";
      font-size: 3rem;
      font-weight: 700;
      line-height: 50px;
      margin-bottom:1.5rem;
      @include mobile{
        font-size: 2.25rem;
      }
    }

    .content {
      font-size: 1.125rem;
      line-height: 2rem;
    }

    @include mobile{
      padding: 2.25rem;
      max-width: 100%;
    }
  }

}
