/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .bulma-blocks-editor-home-card__container {
   padding: 20px 10px;
 }
.components-base-control {
  width: 100%;
}
.components-panel__row label {
  max-width: 95%;
}
.bulma-blocks-editor-home-card__preview {
  .image {
    margin-bottom: 15px;
  }
}
.purdue_podcast {
  &_full_desc {
    border: #ccc 1px dashed;
    padding: 10px;
  }
  &_desc {
    margin-bottom: 50px !important;
  }
  &_podcast_name {
    border: #ccc 1px dashed;
    color: #000;
    font-family: "United Sans",sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    padding: 10px;
    h2 {
      color: #000;
      font-family: "United Sans",sans-serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 45px;
    }
  }
  &_episode {
    &_short_desc {
      border: #ccc 1px dashed;
      padding: 10px;
    }
    &_cover_image {
      width: 100%;
      height: auto;
    }
    &_box {
      box-shadow: 0px 3px 6px #0000003D;
      padding: 45px 26px 26px 26px;
    }
    &_number {
      background-color: $black;
      color: $white;
      display: inline-flex;
      font: normal normal normal 24px/45px "Acumin Pro Condensed";
      margin-bottom: 34px;
      padding: 5px 10px 2px 10px;
    }
    &_title {
      border: #ccc 1px dashed;
      font: normal normal 600 32px/38px "Acumin Pro SemiCondensed";
      margin-bottom: 34px;
      padding: 10px;
      h3 {
        font: normal normal 600 32px/38px "Acumin Pro SemiCondensed";
        margin-bottom: 34px;
      }
    }
    &_links {
      .item {
        color: #8E6F3E;
        margin: 0 8px;
        text-decoration: underline;
        transition: all .3s ease;
        &:hover {
          color: darken(#8E6F3E, 15%);
        }
      }
    }
  }
  &_controls {
    background-color: #000;
    display: flex;
    height: 40px;
    width: 100%;
    z-index: 99;
    .hidden {
      display: none;
    }
    &_pause {
      align-items: center;
      background-color: #cfb991;
      box-sizing: content-box;
      display: flex;
      height: 100%;
      max-width: 190px;
      padding-left: 40px;
      position: relative;
      width: 20%;
      &_share {
        margin-top: 30px;
        text-align: right;
        &_share {
          align-items: center;
          background-color: transparent;
          border: #000 1px solid;
          border-radius: 5px;
          box-sizing: border-box;
          cursor: pointer;
          display: inline-flex;
          font-size: 100%;
          font-weight: 700;
          padding: 5px 15px;
          transition: all .3s ease;
          &:hover {
            background-color: rgba(255,255,255,0.5);
          }
          &:focus {
            outline: none;
          }
          .fas {
            padding-right: 10px;
          }
        }
        &_play {
          align-items: center;
          background-color: #cfb991;
          border: none;
          border-radius: 60px;
          cursor: pointer;
          display: flex;
          font-size: 22px;
          height: 63px;
          justify-content: center;
          position: absolute;
          right: -27px;
          top: -10px;
          width: 67px;
          &:focus {
            outline: none;
          }
          &_border {
            align-items: center;
            border: #000 1px solid;
            border-radius: 60px;
            box-sizing: border-box;
            display: flex;
            height: 80%;
            justify-content: center;
            width: 87%;
          }
        }
      }
    }
    &_black {
      display: flex;
      align-items: center;
      padding-left: 35px;
      padding-right: 15px;
      width: 75%;
      &_total, &_elapsed {
        color: $white;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        width: 15%;
      }
      &_timeline {
        background-color: #ededed;
        border-radius: 5px;
        cursor: pointer;
        flex-grow: 1;
        height: 7px;
        overflow: hidden;
        position: relative;
        width: 66%;
        .time_elapsed {
          background-color: #ddb945;
          height: 100%;
          left: 0;
          position: absolute;
        }
      }
      &_volume, &_fullscreen {
        color: $white;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        width: 7%;
      }
      &_speed {
        .pcast-speed {
          background-color: transparent;
          border: $white 1px solid;
          border-radius: 4px;
          color: $white;
          margin-left: 8px;
        }
      }
    }
  }
  .modal {
    position: absolute;
    &-close {
      position: absolute;
    }
    .top_article_data_share {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      &_button {
        color: #fff !important;
        &:hover {
          color: darken(#fff, 15%) !important;
        }
      }
      &_text {
        color: #fff;
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 30px;
        text-transform: none;
        width: 100%;
      }
    }
  }
}
