/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .purdue-block{
    &-quote-group{
      position: relative;
      padding-top:4rem;
      padding-bottom:4rem;
      overflow: hidden;
      @include touch{
        padding-top:3rem;
        padding-bottom:3rem;
      }
      @include mobile{
        padding-top:2.8rem;
        padding-bottom:2.8rem;
      }
      &.has-background-black{
       &.purdue-block-quote-group{
        .purdue-block-quote-group__control, .purdue-block-quote-group__arrow-left,.purdue-block-quote-group__arrow-right{
            color:$boiler-gold;
          }
          .purdue-block-quote-group__arrow-left:hover,.purdue-block-quote-group__arrow-right:hover,.purdue-block-quote__content,.purdue-block-quote__title{
            color:$white;
          }
          .purdue-block-quote-group__dot{
            border: 1px solid $primary-background-gray;
            &.active{
              background: $primary-background-gray;
            }
          }
        }
        .purdue-block-quote{
          &__name, &__cta, &__cta:after{
          color:$boiler-gold;
          }
          &__content:before{
            content: url("data:image/svg+xml,%3Csvg id='a0504d04-9b36-4161-9e96-0df9ef04a0f8' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.e81869df-a2a1-43e6-b57a-73c0b7fb3aff%7Bisolation:isolate;%7D.a57e61e9-3a10-43ec-a713-7f0e05c75db1%7Bfill:%23555960;%7D%3C/style%3E%3C/defs%3E%3Cg id='adeed551-22a0-4d35-bd25-a37eb4c4d028' data-name=' ' class='e81869df-a2a1-43e6-b57a-73c0b7fb3aff'%3E%3Cg class='e81869df-a2a1-43e6-b57a-73c0b7fb3aff'%3E%3Cpath class='a57e61e9-3a10-43ec-a713-7f0e05c75db1' d='M0,20.458,20.458,0H55.584V23.16015H34.74023L32.03809,25.8623V45.1621H55.584v57.51367H0Zm76.042,0L96.50049,0h34.73974V23.16015h-20.458l-2.70215,2.70215V45.1621h23.16015v57.51367H76.042Z' transform='translate(0 0.00001)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          } 
          &__content:after{
            content: url("data:image/svg+xml,%3Csvg id='bab62a63-c027-4eab-878a-8fc63ea730db' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.aaab6de0-9fb0-43f2-bc4f-fd4de26843f5%7Bisolation:isolate;%7D.aaff3c56-0a26-44a5-ba08-5d2a4eb99938%7Bfill:%23555960;%7D%3C/style%3E%3C/defs%3E%3Cg id='ea1399df-6668-438c-9a09-d9f638b84008' data-name=' ' class='aaab6de0-9fb0-43f2-bc4f-fd4de26843f5'%3E%3Cg class='aaab6de0-9fb0-43f2-bc4f-fd4de26843f5'%3E%3Cpath class='aaff3c56-0a26-44a5-ba08-5d2a4eb99938' d='M131.24023,82.21777l-20.458,20.458h-35.126V79.51562H96.5l2.70215-2.70214V57.51367H75.65625V0h55.584Zm-76.042,0-20.45849,20.458H0V79.51562H20.458l2.70215-2.70214V57.51367H0V0H55.19824Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");          }
        }
      }
      &.has-background-black-ter{
        .purdue-block-quote-group{
          &__control, &__arrow-left, &__arrow-right{
            color:$boiler-gold;
          }
          &__arrow-left:hover, &__arrow-right:hover{
            color:$white;
          }
          &__dot{
            border: 1px solid $white;
            &.active{
              background: $white;
            }
          }
        }
        .purdue-block-quote{
          &__name, &__cta, &__cta:after{
          color:$boiler-gold;
          }
          &__title{
            color:$primary-background-gray;
          }
          &__content{
            color:$primary-background-gray;
            &:before{
              content: url("data:image/svg+xml,%3Csvg id='a0504d04-9b36-4161-9e96-0df9ef04a0f8' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.e81869df-a2a1-43e6-b57a-73c0b7fb3aff%7Bisolation:isolate;%7D.a57e61e9-3a10-43ec-a713-7f0e05c75db1%7Bfill:%236F727B;%7D%3C/style%3E%3C/defs%3E%3Cg id='adeed551-22a0-4d35-bd25-a37eb4c4d028' data-name=' ' class='e81869df-a2a1-43e6-b57a-73c0b7fb3aff'%3E%3Cg class='e81869df-a2a1-43e6-b57a-73c0b7fb3aff'%3E%3Cpath class='a57e61e9-3a10-43ec-a713-7f0e05c75db1' d='M0,20.458,20.458,0H55.584V23.16015H34.74023L32.03809,25.8623V45.1621H55.584v57.51367H0Zm76.042,0L96.50049,0h34.73974V23.16015h-20.458l-2.70215,2.70215V45.1621h23.16015v57.51367H76.042Z' transform='translate(0 0.00001)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            
            } 
            &:after{
              content: url("data:image/svg+xml,%3Csvg id='bab62a63-c027-4eab-878a-8fc63ea730db' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.aaab6de0-9fb0-43f2-bc4f-fd4de26843f5%7Bisolation:isolate;%7D.aaff3c56-0a26-44a5-ba08-5d2a4eb99938%7Bfill:%236F727B;%7D%3C/style%3E%3C/defs%3E%3Cg id='ea1399df-6668-438c-9a09-d9f638b84008' data-name=' ' class='aaab6de0-9fb0-43f2-bc4f-fd4de26843f5'%3E%3Cg class='aaab6de0-9fb0-43f2-bc4f-fd4de26843f5'%3E%3Cpath class='aaff3c56-0a26-44a5-ba08-5d2a4eb99938' d='M131.24023,82.21777l-20.458,20.458h-35.126V79.51562H96.5l2.70215-2.70214V57.51367H75.65625V0h55.584Zm-76.042,0-20.45849,20.458H0V79.51562H20.458l2.70215-2.70214V57.51367H0V0H55.19824Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");          }
            }
          }
      }
      &.has-font-small{
        .purdue-block-quote__content{
          font-size:1.25rem !important;
        }
      }
      &__dots{
        display:block;
        width:100%;
        text-align:center;
        margin-top:3rem;
        position: relative;
        z-index:500;
        @include mobile{
          margin-top:2.125rem;
        }
      }
      &__dot{
        width: 0.75rem;
        height: 0.75rem;
        border: 1px solid $steel-gray;
        border-radius: 50%;
        margin: 0 0.4rem;
        display: inline-block;
        z-index:500;
        cursor:pointer;
        &:hover{
          background: $steam-gray;
        }
        &.active{
          background: $steel-gray;
          &:hover{
            background: $steel-gray;
          }
        }

      }
      &__arrow-wrapper{
        cursor: pointer;
        position:absolute;
        top: 0;
        width:100%;
        height:100%;
        padding: 0 $side-padding-desktop;
        @include touch{
          padding:0 $side-padding-tablet;
        }
        @include mobile{
          padding:0 $side-padding-mobile;
        }
        .container{
          height:100%;
        }
      }
      &__arrow{
        display: inline-block;
        font-size:2rem;
        color:$aged-gold;
        cursor: pointer;
        z-index:100;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &-left{
          left:0;
          transition: left 0.5s;
          &:hover{
            color:$black;
          }
        }
        &-right{
          right:0;
          transition: right 0.5s;
          &:hover{
            color:$black;
          }
        }
      }
    }
    .container{
      overflow:hidden;
    }
    &-quote-wrapper{
      display: flex;
      position: relative;
      width: 1000000px;
      left:-100vw;
      &.shifting {
        transition: left 0.5s ease-out;
        a{
          pointer-events: none;
        }
      }
    }
    &-quote{
      display:flex;
      flex-direction: row;
      align-items:center;
      .columns.is-multiline{
        justify-content: space-between;
      }
      .columns.is-centered{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .column{
            z-index:100;
          }
      }
      .columns.is-spacebetween{
        justify-content: space-between;
        .column.is-one-third-desktop{
          display: flex;
          justify-content: center;
          align-items: center;
          .background-image-container{
            display:block;
            width:70%;
            @include touch{
              width:90%;
            }
            .background-image{
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              width: 100%;
            }
          }
        }
        .column.has-margin-right{
          .purdue-block-quote__content{
            @include desktop{
              margin-right:2rem;
            }
          }
        }
      }
      position:relative;
      cursor:pointer;
      width: 100vw;
      padding: 0 3.25rem;
      @include touch{
        padding:0 5.5rem;
      }
      @include mobile{
        padding:0 3.5rem;
      }
      &.active{
        opacity: 1;
        z-index: 900;
        position:relative;
      }
      .image-container{
        border:10px solid $boiler-gold;
        @include mobile{
          max-width:167px;
          margin:0 auto;
        }
        img{
          display:block;
        }
      }
      .purdue-block-quote__content{
        padding:3rem 2.5rem;
        font-family:$acumin-pro;
        font-size:1.5rem !important;
        line-height:1.45;
        color:$black;
        position:relative;
        margin-bottom:0 !important;
        z-index: 10;
        pointer-events: none;
        p{
          pointer-events: none;
        }
        &:before{
          content: url("data:image/svg+xml,%3Csvg id='ab2aebd5-a62f-4dfa-b5d5-b83b9eef4c67' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.b4bb6a7a-d63d-49f7-a4fd-5d396228bc83%7Bisolation:isolate;%7D.be03d447-f793-4b30-aee2-c3cae2c0df0d%7Bfill:%23ededed;%7D%3C/style%3E%3C/defs%3E%3Cg id='a12a60aa-1270-43ef-9280-761b97beb14a' data-name=' ' class='b4bb6a7a-d63d-49f7-a4fd-5d396228bc83'%3E%3Cg class='b4bb6a7a-d63d-49f7-a4fd-5d396228bc83'%3E%3Cpath class='be03d447-f793-4b30-aee2-c3cae2c0df0d' d='M0,20.458,20.458,0H55.584V23.16016H34.74023L32.03809,25.8623V45.16211H55.584v57.51367H0Zm76.042,0L96.50049,0h34.73974V23.16016h-20.458l-2.70215,2.70214V45.16211h23.16015v57.51367H76.042Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          position:absolute;
          display: inline-block;
          z-index:-1;
          left:0;
          top:-0.5rem;
          line-height: 1;
          width:140px;
          height:auto;

        }
        &:after{
          content:url("data:image/svg+xml,%3Csvg id='b4930990-a4b4-4d6a-b1e0-9ad895abdee9' data-name='ef9c2100-31be-4639-82c5-0ef6f30faf8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.24023 102.67578'%3E%3Cdefs%3E%3Cstyle%3E.b6d5e543-911c-4c94-8fdb-e0e01acf6baf%7Bisolation:isolate;%7D.e8b0e685-3c07-44e7-9e48-07eaba779669%7Bfill:%23ededed;%7D%3C/style%3E%3C/defs%3E%3Cg id='b64e74fd-3808-4be3-b29c-9969ba03156c' data-name=' ' class='b6d5e543-911c-4c94-8fdb-e0e01acf6baf'%3E%3Cg class='b6d5e543-911c-4c94-8fdb-e0e01acf6baf'%3E%3Cpath class='e8b0e685-3c07-44e7-9e48-07eaba779669' d='M131.24023,82.21777l-20.458,20.458h-35.126V79.51562H96.5l2.70215-2.70214V57.51367H75.65625V0h55.584Zm-76.042,0-20.45849,20.458H0V79.51562H20.458l2.70215-2.70214V57.51367H0V0H55.19824Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;
          position:absolute;
          display: inline-block;
          z-index:-1;
          right:0;
          bottom: -0.5rem;
          line-height: 1;
          width:140px;
          height:auto;
        }
        @include mobile{
          padding:1.875rem 1rem;
          font-size:1.25rem !important;
          &:before{
            top:-0.2rem;
            width: 80px;
          }
          &:after{
            bottom:-0.2rem;
            width: 80px;
          }
        }
      }
      &__bottom{
        padding:2.75rem 0 0 2.5rem;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-end;
        @include mobile{
          font-size:1.25rem;
          flex-direction: column;
          align-items:center;
          padding:3rem 1rem 0;
        }
      }
      .purdue-block-quote__name{
        font-family: $acumin-pro;
        font-size: 1.5rem;
        font-weight:700;
        color:$aged-gold;
        margin-bottom:0 !important;
        @include mobile{
          font-size:1.25rem;
          width:100%;
        }
      }
      &__info{
        @include mobile{
          width:100%;
        }
      }
      .purdue-block-quote__title{
        font-family: $acumin-pro;
        font-size: 1.5rem;
        font-weight:400;
        font-style:italic;
        color:$black;
        margin-bottom:0;
        margin-top:0.75rem;
        @include mobile{
          font-size:1.25rem;
          margin-top:0.25rem;
          width:100%;
        }
      }
      &__cta{
        font-family: $united-sans;
        font-size: 1.125rem;
        font-weight:700;
        color:$aged-gold;
        text-decoration:none;
        text-transform: uppercase;
        z-index:1;
        @include mobile{
          margin-top:1.5rem;
          width: 100%;
        }
        &:after{
          content:'\f138';
          font-size:1.125rem;
          font-family:"Font Awesome 5 Free";
          color:$aged-gold;
          position:relative;
          display: inline-block;
          line-height: 1;
          font-weight:900;
          margin-left:1.125rem;
          transition: right 0.5s;
        }
        &:hover{
          &:after{
            right:-0.5rem;
          }
        }
      }
    }

 }

