/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .cta-card-horizonal {
  height:100%;
  box-shadow: $box-shadow;
  background-color:$white;
  text-decoration: none;
  &.cta-card-small{
    padding:2.1875rem;
  }
  &.cta-card-large{
    padding:2.8125rem;
  }
  &.cta-card-left{
    flex-direction: row;
  }
  &.cta-card-right{
    flex-direction: row-reverse;
  }
  .image{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color:$primary-background-gray;
      button{
        border:none;
        background:none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover{
          background:rgba(255,255,255,0.8);
        }
      }
  }
  .title{
      font-family:$acumin-pro-semicondensed;
      font-size:1.5625rem;
      line-height:1.4;
      font-weight:600 !important;
      color:$black;
  }
  .content{
    font-family:$acumin-pro;
    font-size:1rem;
    line-height:1.75;
    width:100%;
    color:$black;
    p{
      color:$black;
    }
    a, a:hover{
      color:$aged-gold;
    }
  }
  .read-more-button{
    font-family:$united-sans;
    font-weight:800;
    font-size:1.125rem;
    text-transform:uppercase;
    color:$aged-gold;
    margin-top:1.625rem;
    span{
      color:inherit;
      position:relative;
      &:after{
        content: ">";
        display: inline-block;
        margin-left: 0.7rem;
        position:absolute;
      }
    }
  }
  
}
.remove-image-button{
  border: $aged-gold 1px solid;
  border-radius: 0.15rem;
  padding: 0.35rem 0.45rem;
  font-size: 0.85rem;
  background-color: $white;
  margin-bottom:1rem;
  &:hover {
    background-color: $aged-gold;
    border-color: transparent;
    color: white;
  }
}
.cta-card-vertical {
  .image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:$primary-background-gray;
    button{
      border:none;
      background:none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover{
        background:rgba(255,255,255,0.8);
      }
    }
}
}