/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .cta-card-horizonal {
    height:100%;
    box-shadow: $box-shadow;
    text-decoration: none;
    display:block;
    color:$black;
    background-color:$white;
    &.cta-card-small{
      padding:2.1875rem;
      @include mobile{
        padding:0.8rem 0.8rem 2rem; 
      }
      p.content{
        font-size:1rem !important;
        line-height:1.75 !important;
        width:100%;
        font-weight:400;
        a, a:hover{
          color:$aged-gold;
        }
      }
    }
    &.cta-card--height-auto{
      height:auto;
    }
    &.cta-card-large{
      padding:2.8125rem;
      @include mobile{
        padding:0.8rem 0.8rem 2rem; 
      }
     p{
        font-size:1.125rem !important;
        line-height:1.67 !important;
        width:100%;
        padding:0;
        color:$black !important;
        @include mobile{
          padding:0 0.5rem; 
        }
        a, a:hover{
          color:$aged-gold;
        }
      }
      p.title{
        font-family:$acumin-pro-semicondensed;
        font-size:1.5625rem !important; 
        line-height:1.4 !important;
        font-weight:600 !important;
        color:$black;
        margin-bottom:1rem !important;
        text-transform: none;
        width:100%;
        padding:0;
        &.header-color-gold{
          color:$aged-gold;
        }
        &.header-color-steel{
          color:$steel-gray;
        }
        @include mobile{
          padding:0 0.5rem; 
        }
      }
      ul,ol{
        font-size:1.25rem !important;
        font-weight:700;
        width:100%;
        @include mobile{
          padding:0 0.5rem; 
        }
      }
      ul{
        list-style:none !important;
        margin-left:1em;
        li{
          &:before{
            content: ">";
            display: block;
            height: 0;
            width: 0;
            left: -0.7em;
            position: relative;
            color: $aged-gold;
          }
          a{
            color: $aged-gold;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    &.cta-card-left{
      .columns{
        flex-direction: row;
      }
    }
    &.cta-card-right{
      .columns{
        flex-direction: row-reverse;
      }
    }
    @include mobile{
      padding:2.75rem 1.25rem;
    }
    .title{
      font-family:$acumin-pro-semicondensed;
      font-size:1.5625rem !important; 
      line-height:1.4 !important;
      font-weight:600 !important;
      color:$black;
      margin-bottom:1rem !important;
      text-transform: none;
      width:100%;
      padding:0;
      &.header-color-gold{
        color:$aged-gold;
      }
      &.header-color-steel{
        color:$steel-gray;
      }
      @include mobile{
        padding:0 0.5rem; 
      }
    }
    .content{
      font-family:$acumin-pro;
      width:100%;
      color:$black;
      font-weight:400;
      padding:0;
      @include mobile{
        padding:0 0.5rem; 
      }
    }
    .read-more-button{
      font-family:$united-sans;
      font-weight:800;
      font-size:1.125rem;
      text-transform:uppercase;
      color:$aged-gold;
      margin-top:1.625rem;
      letter-spacing:50;
      text-decoration:none;
      &:hover{
        color:$black;
      }
      @include mobile{
        padding:0 0.5rem; 
      }
      span{
        color:inherit;
        position:relative;
        &:after{
          content: "\f105";
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          margin-left: 0.7rem;
          position:relative;
        }
      }
    }
    
}

.cta-card-vertical {
  box-shadow:$box-shadow;
  height:100%;
  &.cta-card--height-auto{
    height:auto;
  }
  .columns{
    display:flex;
    flex-direction:column;
    margin:0 !important;
    .column{
      padding:1.25rem;
      .title{
        font-size:1.5rem;
        font-weight:700;
        margin-bottom:1rem;
        color:$black;
        line-height:1.3;
        &.header-color-gold{
          color:$aged-gold;
          &+.content{
            color:$aged-gold;
          }
        }
        &.header-color-steel{
          color:$steel-gray;
        }
        &.header-centered{
          text-align: center;
        }
      }
      .content{
        font-size:1.25rem;
        margin-bottom:0;
        &.content-centered{
          text-align: center;
        }
      }
      &.cta-card-vertical__image{
        padding: 66.6666% 0 0;
        position:relative;
        .image.is-3by2{
          padding-top:0;
          position:absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          img{
            object-fit: cover;
    object-position: 50% 50%;
          }
        }
      }
    }
  }
  &.cta-card-1by1{
    .columns{
      .column{
        &.cta-card-vertical__image{
          padding: 100% 0 0;
        }
      }
    }
  }
}