/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .link-card.card .background-image{
    padding-top:56.25%;
 }
 .purdue-link-cards{
   .card.link-card{
      padding:0;
   }
 }
 .purdue-link-cards{
   .link-card.card{
      .media-content{
         width:auto;
         .media-type{
            color:$black;
            text-transform:uppercase;
            margin-top:0;
            svg{
               width:14px;
               margin-right:0.8rem;
            }
          }
          .story-date, .title, .vertical-subtext{
            margin-top:0;
          }
      }
   }
 
 }

