.purdue-link-cards{
  &.has-white-background{
    background:$white;
    color:$black;
  }
  &.has-black-background{
    background:$black;
    color:$white;
  }
  &.has-gray-background{
    background:$primary-background-gray;
    color:$black;
  }
  h2.section-header{
    margin-bottom:2.5rem !important;
    @include mobile{
      margin-bottom:2rem !important;
    }
    &.align-center{
      text-align: center;
    }
  }
  .link-card.card{
    .media-content{
      padding-left: 1.25rem;
      justify-content: flex-start;
      p{
        white-space: pre-wrap;
       }
    }
    &:hover, &:focus{
      .media-content{
        border-left:none;
        padding-left: 1.25rem;
      }
    }
  }
}