/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.pu-blocks-editor-tabs{
  margin-top:2rem;
  margin-bottom:2rem;
  &>.block-editor-inner-blocks{
    padding:0;
  }
  .pu-blocks-tabs__headers{
    button{
      padding:0;
      height:100%;
      flex:1 1 100%;
      align-self:flex-end;
      &:not(:first-child){
        margin-left:7px;
      }
      .pu-blocks-tabs__header{
        padding:1.25rem;
        @include mobile{
          display:block;
        }
      }
    }
  }
  .pu-blocks-tabs__panel{
    &>.block-editor-inner-blocks{
      padding:0.75rem;
    }
    &.active{
      display:block;
    }
  }
}