/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .link-card {
   &.card {
     display: flex;
     flex-direction: column;
     text-decoration: none;
     &:hover,
     &:focus {
       box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

       .media-content{
         .title {
           text-decoration: underline;
         }
       }
      }
     .background-image {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
     .media-content {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 1.25rem 1.375rem;
       .title {
         font-size: 1.25rem !important;
         font-family: acumin-pro-semi-condensed;

       }
     }
   }
 }
 .home-card-horizontal {
 	box-shadow: none !important;
 	height: auto;
  margin-bottom: 40px;
 	.media-content {
 		.title {
 			font-size: 18px;
 			font-weight: 300;
 			line-height: 30px;
      margin-bottom: 0;
 			padding-bottom: 0;
 			text-align: left;
 		}
 	}
 	.read-more-button {
 		font-family: 'acumin-pro-condensed', sans-serif;;
 		font-weight: 600;
 		text-align: right;
    .read-more-button-link {
      font-family: 'acumin-pro-condensed', sans-serif;
      padding-top: 15px;
      display: block;
   		span {
   			padding-right: 15px;
   			position: relative;
   			&:after {
   				content: '\f105';
   				font-family: fontawesome;
   				position: absolute;
   				right: 0;
   			}
   		}
    }
 	}
 }
