/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.pu-blocks-editor-cta-banner {

  padding: 0.875rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: $black;
  background: $secondary-background-gray;
  margin-bottom: 1.75rem;

  .content {
    flex: 0 1 48%;

    span {
      display: flex;
      margin-bottom: 1rem;
    }
    .field {
      .control {
        textarea,input {
          background: white;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $secondary-background-gray;
    color: black;
    font-family: sans-serif;
  }

  &__heading {
    font-size: 0.9rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;

    .dashicons {
      margin-right: 0.75rem;
    }
  }

  &__description {
    width: 80%;
    font-size: 0.85rem !important;
    margin: 0 !important;
    margin-bottom: 0.75rem !important;

    &--error {
      color: red !important;
    }
  }

  &__button {
    border: $teal 1px solid;
    border-radius: 0.15rem;
    padding: 0.35rem 0.45rem;
    font-size: 0.85rem;
    background-color: transparent;
    &:not(:last-child){
      margin-right:1rem;
    }
    &:hover {
      background-color: $teal;
      border-color: transparent;
      color: white;
    }
  }

  &__preview {
    .bulma-blocks-editor-site-hero__button {
      margin-top: 0.5rem;
    }
  }
}
