/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .pu-cta-banner {
  padding:1.71875rem $side-padding-desktop;
   @include touch{
     padding:2.8125rem $side-padding-tablet;
   }
   @include mobile{
     padding:2.8125rem $side-padding-mobile;
   }
 .container{
   display:flex;
   flex-direction:row;
   @include touch{
     flex-direction:column;
   }
 }
 &-gray{
   background-color: $steel-gray;
   padding:2.1875rem $side-padding-desktop;
   @include touch{
     padding:2.1875rem $side-padding-tablet;
   }
   @include mobile{
     padding:2.1875rem $side-padding-mobile;
   }
   .container{
     align-items:center;
     justify-content: center;
   }
   &__desc{
     width:100%;
     text-align:center;
     color:$white;
     text-decoration:underline;
     text-transform:capitalize;
     font-family:$acumin-pro;
     font-size:1.875rem;
     font-weight:600;
     font-style:italic;
     line-height:2.5rem;
     &:hover{
       text-decoration:none;
       color:$white;
     }
     @include mobile{
       font-size:1.25rem;
       line-height: 2.1875rem;
     }
   }
 }
 &-gold{
   background-color: $boiler-gold;
   .container{
     align-items:center;
     justify-content: space-between;
     @include touch{
       justify-content: center;
     }
   }
   &__desc{
     font-family: $united-sans-extended;
     font-size:1.375rem;
     font-weight:700;
     line-height:2.5rem;
     text-transform:uppercase;
     margin-bottom:0 !important;
     margin-right:2rem;
     letter-spacing: 0.9px;
     @include touch{
       font-size:1.125rem;
       line-height:2.1875rem;
       letter-spacing: 0.9px;
       text-align: center;
       margin-right:0;
     }
   }
   &__button {
     font-family: $united-sans;
     font-weight: 700;
     font-size: 1.125rem;
     text-transform: uppercase;
     display: inline-flex;
     justify-content: center;
     padding: 0.75rem 1rem;
     background: $black;
     border: 2px solid $black;
     color: $boiler-gold;
     text-decoration: none;
     transition: all ease 0.2s;
     min-width:15.625rem;
     letter-spacing: 0.9px;
     text-align:center;
     &:hover {
       cursor: pointer;
       background: $white;
     }
     @include touch{
       margin-top:2.1875rem;
     }
   }
 }
 &-black{
   background-color: $black;
   .container{
     align-items:center;
     justify-content: space-between;
     @include touch{
       justify-content: center;
     }
   }
   &__desc{
     font-family: $acumin-pro;
     font-size:1.375rem;
     font-weight:600;
     line-height:1.875rem;
     margin-bottom:0 !important;
     margin-right:2rem;
     color:$boiler-gold;
     @include touch{
       line-height:2.125rem;
       text-align: center;
       margin-right:0;
     }
   }
   &__button {
     font-family: $united-sans;
     font-weight: 700;
     font-size: 1.125rem;
     text-transform: uppercase;
     display: inline-flex;
     justify-content: center;
     padding: 0.75rem 1rem;
     background: $black;
     border: 2px solid $boiler-gold;
     color: $white;
     text-decoration: none;
     transition: all ease 0.2s;
     min-width:15.625rem;
     letter-spacing: 0.9px;
     text-align:center;
     &:hover {
       cursor: pointer;
       background: $boiler-gold;
       color:$black;
     }
     @include touch{
       margin-top:2.1875rem;
     }
   }
 }
 &-image{
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top:0;
   padding-bottom:0;
   .container{
     height:240px;
     align-items:center;
     justify-content: center;
   }
   &__button {
     font-family: $united-sans;
     font-weight: 700;
     font-size: 1.125rem;
     text-transform: uppercase;
     display: inline-flex;
     justify-content: center;
     background: rgba(0, 0, 0, 0.65);
     color: $white;
     padding:1rem;
     border: 2px solid $white;
     text-decoration: none;
     transition: all ease 0.2s;
     min-width:15.625rem;
     letter-spacing: 0.9px;
     text-align:center;
     &:hover {
       cursor: pointer;
       background: $black;
       color:$white;
     }
     @include mobile{
       min-width:100%;
     }
   }
 }
 &__button {
   font-family: $united-sans;
   font-weight: 700;
   font-size: 1.125rem;
   text-transform: uppercase;
   display: inline-flex;
   justify-content: center;
   padding: 0.75rem 1rem;
   background: $black;
   border: 2px solid $black;
   color: $boiler-gold;
   text-decoration: none;
   transition: all ease 0.2s;
   margin-top:2rem;
   min-width:15.625rem;
   letter-spacing: 0.9px;
   &:hover {
     cursor: pointer;
     background: $white;
   }
 }
}

