/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .section{
  .container{
    .page-layout.columns{
      justify-content:space-between;
      @include mobile{
        display:block;
      }
      .column{
        margin:0;
      }
    }
  }
   &.desktop-reverse{
     .container{
      .page-layout.columns{
         flex-direction:row-reverse;
       }
     }
   }
   &.mobile-reverse{
    .container{
      .page-layout.columns{
        @include mobile{
          display:flex;
          flex-direction:column-reverse;
        }
        
      }
    }
  }
 }