/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .purdue-slider .glide__slide .background-image {
    padding-top: 50%;
 }
 .purdue-slider .glide__slide .content{
    color:$black;
 }
 .glide.purdue-slider--default{
   .glide__slides{
      .glide__slide{
         margin-right:1.5rem;
      }
   }
 }
 .glide.purdue-slider--tabs{
   .glide__slides{
      display:block;
      .glide__slide{
         width:100%;
      }
   }
   .image-column.column, .content.column{
      width:50%;
   }
 }
 