.columns{
    display:flex;
    margin:-0.75rem;
}
.column{
    display:block;
    padding:0.75rem;
}
.image{
    .is-1by1{
        padding-top:100%;
    }
    .is-16by9{
        padding-top:56.25%;
    }
    .is-2by1{
        padding-top:50%;
    }
}