/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pu-profile-hero {
  $padLine: 90px;

  position:relative;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) calc(100% - $padLine), rgba(255, 255, 255, 1) calc(100% - $padLine), rgba(255, 255, 255, 1) 100%);
  &.pu-profile-hero--right{
    .section .container .columns{
      @include tablet{
        flex-direction: row-reverse;
      }
    }
  }

  @include mobile{
    background: #fff;
    &:before{
      content:"";
      height:min(80vw, 450px);
    }

    .section > .container {
      > .columns {
        .column:first-child {
          z-index: 1;
          position: relative;
          &:after {
            content:'';
            inset: -3rem -1000% 0 -1000%;
            position: absolute;
            height:90%;
            background-color: #000;
            z-index:-1;
          }
        }
      }
    }
  }
  .section{
    position:relative;
    &.is-large{
      padding-bottom:0 !important;
    }
    .container{
      max-width:888px !important;
      .columns > .column {
        padding-bottom:0;
      }
      .columns .column.is-full-mobile{
        padding:0;
        padding-top: .75em;
        margin-right: .75em;
        @include mobile {
          max-width: 500px;
           margin: 0 auto;
        }
      }
    }
  }
  &__content{
    color:$white;
    margin-left:2rem;
    padding-bottom: calc($padLine + 1em);
    h1, p{
      color:$white !important;
      a{
        color:$boiler-gold;
       }
    }
    @include mobile{
      color:$black;
      margin-left:0;
      margin-top:1rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $boiler-gold;
      h1, p{
        color:$black !important;
      }
    }
  }
  .background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--right{
    .hero {
      .hero-body {
        &>.container{
          justify-content:flex-end;
        }
      }
    }
  }
}


