/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .faculty-profile-card {
  &.box {
    padding: 0;
    &:not(:last-child){
      margin-bottom:2.1875rem;
    }
    &:last-child{
      margin-bottom:2.8125rem;
    }
  }
  .media {
    padding: 2.1875rem;

    @include mobile {
      flex-direction: column;
      padding: 0.9375rem;
    }

    .media-left {
      margin-right: 2.1875rem;

      @include mobile {
        margin: 0 0 2.325rem 0;
      }
      
      @include mobile {
        width: 100%;
      }

      .image {
        width: 100%;
        height: auto;
        max-width: 19.125rem;

        @include mobile {
          max-width: 100%;
        }
      }
    }

    .media-content {
      ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          font-size: 1.25rem;

          &:not(:last-child) {
            margin-bottom: 1.25rem;
          }

          &:nth-child(3) {
            svg {
              margin-right: calc(1.25rem - 2.5px);
            }
          }

          svg {
            margin-right: 1.25rem;
            color: $steel-gray;
          }

          .profile-info-item {
            display: flex;
            flex-direction: column;
            margin-top: -0.5rem;

            p {
              margin-bottom: 0;
              font-size: 1.125rem;
              font-weight: 400;
              font-family: $acumin-pro;
            }

            a {
              text-decoration: none;
              color: black;
              margin-bottom: 0;
              font-size: 1.125rem;
              font-weight: 400;
              font-family: $acumin-pro;

              &:hover {
                color: $aged-gold;
                text-decoration: underline;
              }
            }

            span {
              display: none;
              font-size: 1rem;
              font-weight: 300;
              color: $steel-gray;
              font-family: $acumin-pro;
            }
          }
        }
      }
    }
  }

  &>.content {
    margin: 0 !important;
    padding: 0 2.1875rem 2.1875rem;
    color: $steel-gray;

    @include touch {
      padding: 0 0.9375rem 2.1875rem;
    }
  }

  .level {
    background: black;
    padding: 1.25rem 2.1875rem;
    height:auto;
    flex-wrap: wrap;

    @include touch {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .level-left {

      margin-right: 6.25rem;

      .level-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        .faculty-name {
          color: $boiler-gold;
          font-family: $united-sans;
          font-size: 1.375rem;
          margin-bottom: 0;
        }
        .faculty-title {
          color: $steam-gray;
          font-size: 1.125rem;
          font-style: italic;
        }

        @include touch {
          text-align: center;
          align-items: center;
          margin-bottom: 1.5rem;
        }
      }

      @include touch{
        margin-right: 0;
      }

    }

    .level-right {

      @include touch {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        max-width: 20rem;
        justify-content: space-between;
      }

      .level-item {
        color: white;

        &:not(:last-child) {
          margin-right: 1.5625rem;

          @include touch {
            margin-right: 0;
            margin-bottom: 0;
          }
        }
      }

      p.level-item {
        margin-bottom: 0;
        font-size: 1.125rem;
      }

      a.level-item {
        font-size: 1.5625rem;
      }
    }
  }
}
.section>.faculty-profile-card {
  &.box {
    &:last-child{
      margin-bottom:0;
    }
    &:first-child{
      margin-top:0;
    }
  }
}