/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../scss/bulma-utilities";

.pu-list {
  width:100%;
  background-color: #ededed;
  h2{
    font-family: "Source Serif Pro";
    font-size: 1.375rem !important;
    color:#000;
    margin:0 !important;
    padding:0.9375rem 1.875rem;
    border-bottom: solid 1px #000;
    text-align:center;
  }
  ul, ol{
    margin: 0 2.25rem 0 3rem !important;
    padding: 1.875rem 0 !important;
    font-family: acumin-pro;
    font-size:1rem;
    font-weight:600;
    line-height:1.3125rem;
    li{
      margin-top:0 !important;
      &:not(:last-child){
        margin-bottom:1.1875rem;
      }
    }
  }
  ul{
    list-style:none !important;
    li:before{
      content: "";
      border-color: transparent #000;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.95em;
      position: relative;
    }
  }
  a{
    color:#000;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
      color:#000;
    }
  }
}

