/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .bulma-blocks-editor-columns {
   z-index:10;
     .title {
        &--black {
          color: black !important;
        }
        &--gold {
          color: $boiler-gold !important;
        }
        &--aged {
          color: $aged-gold !important;
        }
        &--steel {
          color: $steel-gray !important;
        }
        &--white {
          color: white !important;
        }
        &.align--center{
          text-align:center;
        }
      }
 }
 .has-margin-left{
   margin-left:1.5rem;
 }
 .has-margin-bottom{
  margin-bottom:1.5rem;
}
.pu-columns-row-editor{
  color: #ededed;
  &.section.no-padding{
    padding:1rem 0 !important;
  }
  &.has-background-black, &.has-background-black-ter, &.has-overlay-black, &.has-overlay-steel  {
    color: $white;

  }
  .block-editor-button-block-appender {
    box-shadow: inset 0 0 0 1px $white;
    color:$black;
    background: #ededed;
  }
  .bulma-blocks-editor-columns{
    color:inherit;
  }

}