/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pu-columns-row {
  background-color: rgba(255,255,255,0);
  background-position: center;
  background-size: cover;
  position: relative;
  &.section.is-medium{
    @include touch{
      padding-top:2.5rem !important;
      padding-bottom:2.5rem !important;
    }
  }
  &.section.no-padding{
    padding:0 !important;
  }
  &--empty{
    &.section{
      padding:0 !important;
      height:4rem;
      @include touch{
        height:2.5rem;
      }
    }
    &-line{
      &.section{
        padding:0 !important;
        height:4rem;
      }

      &:before{
        content: '' !important;
        display: block;
        position: absolute;
        width: 1px;
        background: $boiler-gold;
        height: 4rem;
        top: 0;
        left: calc(50% - 0.5px);
        transform:scaleY(0);
        transform-origin: top;
        transition: 0.4s ease-out;
      }
      &.animate{
        &:before{
          transform:scaleY(1);
        }
      }
    }

  }

  &.has-background-light-gray {
    background: #f7f7f7 !important;
  }
  &.has-overlay-black {
    color:$white;
    &:after{
      content: "";
      background: $black;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
  &.has-overlay-white {
    color:$black;
    &:after{
      content: "";
      background: $white;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
  &.has-overlay-concrete {
    color:$black;
    &:after{
      content: "";
      background: $white;
      opacity: 0.65;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
  &.has-overlay-steel {
    color:$white;
    &:after{
      content: "";
      background: $steel-gray;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
  &.has-overlay-gold {
    color:$black;
    &:after{
      content: "";
      background: $boiler-gold;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &+.pu-columns-row {
    padding-top: 0 !important;
    margin-top: -2rem;
  }
  .container{
    z-index:1;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &.content--no-margin{
      margin-bottom:0;
    }
    .title {
      &--black {
        color: black !important;
      }
      &--gold {
        color: $boiler-gold !important;
      }
      &--aged {
        color: $aged-gold !important;
      }
      &--steel {
        color: $steel-gray !important;
      }
      &--white {
        color: white !important;
      }
    }

    .align {
      &--left {
        text-align: left;
      }

      &--center {
        text-align: center;
      }
    }
  }

  .has-dividers {
    & > .column:not(:last-child) {
      border-right: 1px solid #9d9795;
    }
  
    @media screen and (max-width: 765px) {
      & > .column:not(:last-child) {
        border-bottom: 1px solid #9d9795;
        border-right: none;
      }
    }
  
    & > .no-border {
      border-right: none !important;
    }
    
    &.is-desktop {
      @media screen and (max-width: 1024px) {
        & > .column:not(:last-child) {
          border-bottom: 1px solid #9d9795;
          border-right: none;
        }
      }
    }
  
    &.is-mobile {
      @media screen and (max-width: 1024px) {
        & > .column:not(:last-child) {
          border-right: 1px solid #9d9795;
          border-bottom: none;
        }
      }
    }
  }
}