.video-hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &--video {
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: unset;
  }

  &--overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }

  &--control{
    position:absolute;
    z-index:10;
    bottom:3.25rem;
    right:3.25rem;
    @include mobile{
      display:none;
    }
    .video-hero--pause-button,.video-hero--play-button{
      cursor: pointer;
      background: none;
      color: $rush-gold;
      border: 0;
      padding: 0;
      display:inline-block;
      &.hide{
        display:none;
      }
      i,svg{
        border: 1px solid $white;
        border-radius: 50%;
        background-color: $black;
        font-size:2.5rem;
      }
    }
  }

  &--content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 660px;

    @include mobile {
      padding: 1.5rem;
    }

    .title {
      font-family: 'acumin-pro-extra-condensed';
      font-size: 5.625rem;
      color: white;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      letter-spacing: 2.25px;
      margin-bottom: 2rem;

      @include mobile {
        font-size: 3.125rem
      }
    }

    a {
      text-decoration: none;
      margin: 0;
    }

    .cta-button {
      position: relative;
      background: $boiler-gold;
      padding: 0.8rem 1.8rem 0.7rem;
      font-family: United Sans;
      font-weight: 700;
      font-size: 1.125rem;
      text-transform: uppercase;
      color: black;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background: $boiler-gold;
        height: 7rem;
        top: calc(100% + 1rem);
        left: calc(50% - 0.5px);
      }

    }
  }
}

// determine correct height of the video hero
// based on which header is active

.header--global + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 184px - 3rem);
}

.header--global__microsite + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 97px - 3rem);
}

.header--simple + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 143px - 3rem);
}

.header--mega + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 97px - 3rem);
}

.header--mega.is-transparent + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 3rem);
}