.video-hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &--background-image {
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--video {
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: unset;

    @include mobile {
      display: none;
    }
  }

  &--overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }

  &--control{
    position:absolute;
    z-index:10;
    bottom:3.25rem;
    right:3.25rem;
    @include mobile{
      display:none;
    }
    .video-hero--pause-button,.video-hero--play-button{
      cursor: pointer;
      background: none;
      color: $rush-gold;
      border: 0;
      padding: 0;
      display:inline-block;
      &.hide{
        display:none;
      }
      i,svg{
        border: 1px solid $white;
        border-radius: 50%;
        background-color: $black;
        font-size:2.5rem;
      }
    }
  }

  &--content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 660px;

    @include mobile {
      padding: 1.5rem;
    }

    .title {
      font-family: 'acumin-pro-extra-condensed';
      font-size: 5.625rem;
      color: white;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      letter-spacing: 2.25px;
      margin-bottom: 2rem;

      @include mobile {
        font-size: 3.125rem
      }
    }

    a {
      text-decoration: none;
      margin: 0;
    }

    .cta-button {
      position: relative;
      background: $boiler-gold;
      padding: 0.8rem 1.8rem 0.7rem;
      font-family: United Sans;
      font-weight: 700;
      font-size: 1.125rem;
      text-transform: uppercase;
      color: black;
      box-shadow: inset 0 0 0 0 $black;
      transition: ease-out 0.4s;
      &:hover{
        box-shadow: inset 400px 0 0 0 $black;
        color:$white;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background: $boiler-gold;
        height: 0;
        top: calc(100% + 1rem);
        left: calc(50% - 0.5px);
      }

    }
  }
  &.onload-animation{
    .video-hero--content{
      .cta-button {
        &:after{
          height:7rem;
          transition:height 0.4s ease;
        }
      }
    }
  }
  &.onload-animation.scroll-animation{
    .video-hero--content{
      .cta-button {
        &:after{
          height:100rem;
          transition:height 0.4s ease;
        }
      }
    }
  }
  &.onload-animation.scroll-animation.no-animation{
    .video-hero--content{
      .cta-button {
        &:after{
          height:100rem;
          transition:none;
        }
      }
    }
  }
  &--carousel{
    .video-hero--control{
      left:3.25rem;
      right:auto;
      bottom:1.5rem;
      .video-hero--pause-button,.video-hero--play-button{
        color: $black;
        &.hide{
          display:none;
        }
        i,svg{
          background-color: $white;
        }
      }
    }
    &.onload-animation.scroll-animation .video-hero--content .cta-button:after,&.onload-animation.scroll-animation.no-animation .video-hero--content .cta-button:after{
      @include mobile{
        height:8rem;
      }
    }
  }
  &--carousel__wrapper{
    display: flex;
    position: absolute;
    width: 1000000px;
    left:-100vw;
    top:0;
    height:100%;
    &.shifting {
      transition: left 0.5s ease-out;
    }
    &:after{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.5);
      cursor: grabbing;
    }
  }
  &--carousel__image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: grabbing;
  }
  &--carousel__arrow-wrapper{
    position:absolute;
    right:3.25rem;
    bottom:1.5rem;
    z-index:10;
    color:$white;
    font-size:1.2rem;
    display:flex;
    flex-direction:row;
    @include mobile{
      right: 50%;
      transform: translateX(50%);
    }
    .video-hero--carousel__arrow-left{
      padding-right:1rem;
      align-self: center;
      cursor: pointer;
    }
    .video-hero--carousel__arrow-right{
      padding-left:1rem;
      align-self: center;
      cursor: pointer;
    }
    .video-hero--carousel__current, .video-hero--carousel__total{
      align-self: flex-end;
      font-family:$united-sans-condensed;
    }
    .video-hero--carousel__current{
      font-size:3rem;
      color:$boiler-gold;
      line-height: 1;
    }
    .video-hero--carousel__total{
      font-size:1.5rem;
    }
  }
}

// determine correct height of the video hero
// based on which header is active

.header--global + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 184px - 3rem);
}

.header--global__microsite + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 97px - 3rem);
}

.header--simple + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 143px - 3rem);
}

.header--mega + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 97px - 3rem);
}

.header--mega.is-transparent + .site-content > .main-content > .content .video-hero {
  height: calc(100vh - 3rem);
}