/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.custom-side-menu-editor{
  .custom-side-menu-empty-message{
    padding:1rem;
    display:block !important;
  }
  .custom-side-menu .to-top-sidebar{
    position:relative;
    .text:after {
      border: 3px solid $black;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: inline-block;
      height: .625em;
      margin-top: -.4375em;
      pointer-events: none;
      position: relative;
      left:1rem;
      transform: rotate(-225deg);
      transform-origin: center;
      width: .625em;
    }
  } 
} 